*{
  box-sizing: border-box;
  }
  
  ul , li{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  body ,html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  .wrapper {
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
  }
  
  .container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
  }
  .container__sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__sidebar-about{
    margin-right: 22px;
  }

  .container__sidebar-coments{
    margin-right: 22px;
  }

  .container__sidebar-team{
    margin-right: 21px;
  }

  .main__content{
    flex: 1;
    margin-bottom: 48px;
  }